/* || GENERAL STYLES */
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button,
input {
  font-size: 100%;
  appearance: none;
  font-family: inherit;
  outline: none;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: #333;
  background: #fff;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
}

/* ||  SITEWIDE STYLES */

.header {
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

/* || COMPONENTS */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  border: 1px solid #444;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  display: grid;
  width: min(500px, 90%);
  gap: 0.8rem;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.asterisk {
  color: #ff0000;
}

input[data-form-field] {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
  width: 100%;

  &:invalid {
    border-color: #ff0000;
  }

  &:valid {
    border-color: #1fbc6df3;
  }
}

.btn {
  justify-self: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.errorContainer {
  color: red;
  font-size: 0.9rem;
}
